<!-- <nav id="sidebarMenu"> -->
  <div class="position-sticky pt-3">
    <ul id="sidebar-ul" class="nav flex-column">
      <li class="nav-item my-2">
        <a class="nav-link active text-muted" aria-current="page" href="/index.html">
          <i class="bi bi-house-door me-2"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link text-muted" href="/src/views/contractors.html">
          <i class="bi bi-person-fill me-2"></i>
          Contractors
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link text-muted" href="/src/views/materials.html">
          <i class="bi bi-bricks me-2"></i>
          Materials
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link text-muted" href="/src/views/materials-report.html">
          <i class="bi bi-bar-chart-steps me-2"></i>
          Materials Report
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link text-muted" href="/src/views/contractors-report.html">
          <i class="bi bi-journal me-2"></i>
          Contractors Report
        </a>
      </li>
    </ul>
  </div>
<!-- </nav> -->