<div class="modal-dialog">
  <div class="modal-content py-4">
    <form action="#">
      <div class="row align-items-center">
        <div class="col-10">
          <h4 class="text-center">Material Checkout Form</h4>
        </div>
        <div class="col-2">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="row align-items-center m-4">
        <div class="col-3">
          <label for="name" class="form-label">Name</label>
        </div>
        <div class="col-9">
          <select id="name" class="form-select" aria-label="Material Name">
            <option selected>Please select material</option>
            <option value="Sand">Sand</option>
            <option value="Water">Water</option>
            <option value="Bricks">Bricks</option>
            <option value="Nails">Nails</option>
            <option value="Cement">Cement</option>
            <option value="Stones">Stones</option>
          </select>
        </div>
      </div>
      <div class="row align-items-center m-4">
        <div class="col-3">
          <label for="quantity" class="form-label">Quantity</label>
        </div>
        <div class="col-9">
          <input type="number" step="1" class="form-control" id="quantity">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Submit</button>
      </div>
    </form>
  </div>
</div>
