<html lang="en">
<head>
  <module href="/components/common/head.html"></module>
  <title>Home | Tuzimbe</title>
</head>
<body>
  <module href="/components/common/nav.html"></module>

  <div class="container-fluid h-100">
    <div class="row h-100">

    <module href="/components/common/sidebar.html"></module>
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-center">
        <h3 class="lead fw-bold mt-4">Material Profile</h3>
      </div>
      <div class="d-flex justify-content-center">
        <img class="w-25" src="/images/hamer.png" alt="profile picture">
      </div>
      <div class="div ">
        <div class="row align-items-center">
          <div class="col col-4">
            <p>Material ID:</p>
          </div>
          <div class="col col-8">
            <p>1</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col col-4">
            <p>Material Name:</p>
          </div>
          <div class="col col-8">
          <p>Sand</p>
        </div>
        </div>
        <div class="row align-items-center">
          <div class="col col-4">
            <p>Quantity:</p>
          </div>
          <div class="col col-8">
          <p>50</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col col-4">
            <p>Measurement:</p>
          </div>
          <div class="col col-8">
          <p>Tonnes</p>
        </div>
        </div>
        <div class="row align-items-center">
          <div class="col col-4">
            <p>Price:</p>
          </div>
          <div class="col col-8">
            <p>3500</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col col-4">
            <p>Date created:</p>
          </div>
          <div class="col col-8">
          <p>date here</p>
        </div>
        </div>
      </div>
    </main>
    </div>
  </div>

  <script src="./bundle.js"></script>
</body>
</html>
