<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <div class="container-xxl">
    <a href="/index.html" class="navbar-brand">
      <i class="bi bi-hammer text-warning"></i>
      <span class="fw-bold display-6">Tuzimbe</span>
    </a>
    <button class="navbar-toggler ms-3 d-md-none" role="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span id="span" class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
